*{
  outline: none;
 
}
*::selection{
display: none;
}
.app-activity {
  width: 382px;
  height: 680px;
  background-color: rgb(231, 195, 96);
  position: relative;
}

.input-note {
  background-color: blanchedalmond;
  padding: 5px;
  text-align: center;
}
.input-note input {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 0px;
}
.input-note button {
  font-size: 20px;
  background-color: burlywood;
  color: rgb(248, 248, 248);
  border: 0px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 100px;
}
.input-note button:hover {
  background-color: rgb(149, 231, 94);
}
.list-note {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  overflow-y: scroll;

  background-color: rgb(255, 222, 179);
  width: 350px;
  height: 500px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 20px;
}
.list-note::-webkit-scrollbar {
  display: none;
}
.item-note {
  border-radius: 10px;
  width: 310px;
  margin: 10px;
  background-color: cornsilk;
  height: 20px;
  padding: 10px;
  float: left;
}
.remove-item-note {
  height: 20px;
  border-radius: 100px;
  width: 20px;
  border: 0px;
  background-color: crimson;
  font-size: 30px;
  float: right;
  margin-bottom: 50px;
}
.action_app_note{
    background-color: rgb(253, 215, 47);
    height: 50px;
    color: white;
    box-shadow: 0px 2px 2px 0px rgb(170, 166, 166);
   position: relative;
}